body
{
	font-family:"Quicksand" ;
	background-image:url("Background.png") ;
	background-repeat:no-repeat ;
}

	.login_div1 , .login_div2  
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}


#background{

padding-right: 100% ;
	
}

#next{
background-color:rgb(236 214 207) ;
border-color:rgb(187, 131, 127) ;
border-radius: 20px ;
width: 150px ;
height: 30px ;
}